/LaundryButler/nbproject/private/
/LaundryButler/LaundryButler-war/nbproject/private/
/LaundryButler/LaundryButler-ejb/nbproject/private/
*.jar

EtailerSystem/build/META-INF/MANIFEST.MF

*.ear

*.xml

*.MF

*.class

*.properties
/LaundryButler/LaundryButlerClient/nbproject/private/
/LaundryButler/LaundryButlerClassLibrary/nbproject/private/
/LaundryButler/LaundryButler-ejb/build/
/LaundryButler/LaundryButler-ejb/dist/
/LaundryButler/build/
/LaundryButler/dist/
/LaundryButler/LaundryButlerClient/build/
/LaundryButler/LaundryButlerClient/dist/
/LaundryButler/LaundryButler-war/build/
/LaundryButler/LaundryButler-war/dist/
/LaundryButler/LaundryButlerClassLibrary/build/
/LaundryButler/LaundryButlerClassLibrary/dist/