/LaundryButler/LaundryButlerClassLibrary/build/
/LaundryButler/LaundryButlerClassLibrary/dist/
/LaundryButler/LaundryButler-ejb/dist/
/LaundryButler/LaundryButler-ejb/build/
/LaundryButler/build/
/LaundryButler/LaundryButler-war/dist/
/LaundryButler/LaundryButler-war/build/
/LaundryButler/LaundryButlerClient/build/
/LaundryButler/LaundryButlerClient/dist/
/LaundryButler/dist/
*.xml

LaundryButler/LaundryButler-ejb/setup/glassfish-resources.xml
/LaundryButler/nbproject/private/
/LaundryButler/LaundryButler-ejb/nbproject/private/
/LaundryButler/LaundryButlerClient/nbproject/private/
/LaundryButler/LaundryButler-war/nbproject/private/
/LaundryButler/LaundryButlerClassLibrary/nbproject/private/